<div class="main-t login_show_background_color"> 
      <!--深谷昌輝 追加 11月14日夜 -->
    <%= form_tag("/login",onsubmit:"return false;") do %>  
      <div class="login_show">  
          <h1>ログイン</h1>
            <div class="login_form_area">
              <% if @error_message %>
                <div class="login_error">
                  <%= @error_message %>
                </div> 
              <% end %>
              <div class="login_show_form_area">
                <label class="user_label">ユーザー名</label>
                <input type="text" name="name" value="<%= @name %>" class="login_show_form login_show_form_name">
              </div>
              <div class="login_show_form_area">
                <label class="password_label">パスワード</label>
                <input type="text" name="password" value="<%= @password %>" class="login_show_form login_show_form_password">
              </div>
              <div class="login_btn_cover">
                <input type="button" onclick="submit();" value="ログイン" class="login_btn">
              </div>
              <div class="no_login_user_link"><span>登録がお済みでない方は</span><%= link_to"こちら","/users/shinki"%></div>
            </div>
        </div>   
    <% end %> 
</div>   