<% set_meta_tags title: "お気に入り 漫画考察・ネタバレ・感想を投稿・共有するなら"   %>
<% breadcrumb :top_favorite %>
<div class="main-t"> 
    <div class="container">
    <article>
      <h1 class="top_favorite_tittle">
        <i class="fa-solid fa-heart"></i>
        <span>お気に入り</span>
      </h1>
      <% if @like_posts.count > 0 %>
        <ul class="article_index">
          <% @like_posts.each do |like_post| %>
            <li>
              <section class="article_main  post_link neumorphism">
              <%= link_to "",post_show_path(id: like_post.id), class:"article_main_link_cover" %>
                <%= render 'posts/post', post: like_post %>
              </section>
              <section class="little_show_comment">
                <ul>
                <% post_comments = Post.where(parent_id: like_post.id) %>
                <% post_comments.slice(0..1).each do |post_comment|%>
                  <%= render 'posts/comment_2', post: post_comment %>
                <% end %>
                </ul>
                <% if post_comments.count >= 3 %>
                  <%= link_to "さらにコメントを表示", "/posts/#{like_post.id}", class: "comment_more_show"%>
                <% end %>
              </section>
            </li>
          <% end %>
        </ul>
        <%= paginate @like_posts %>
      <% else %>
        <div class="favorite_post_nil_cover">
          <div class="favorite_post_nil">
            <i class="fa-regular fa-heart"></i>
            <h3>投稿がありません</h3>
            <span>気軽にイイねしてみよう！</span>
            <%= link_to "投稿を見る", "/home/top_super_new", class: "favorite_post_nil_new_post_btn" %>
          </div>
        </div>
      <% end %>
    </article>
    </div>                                      
</div class="main-t">   
