<% breadcrumb :each, @comic %>
<div class="main-t">    
    <div class="container">
        <div class="each">
            <div class="top">
                <div class="<%=@ranking_label%>"><%= @ranking_tittle %><%= @ranking_id %>位</div>
                <h1><%= @comic.name %></h1>
            </div>
            <ul class="each_post_tab">
                <li class="each_post_tab_list_item <%= @each_post_new_ranks_tab %>"><h2>新着順</h2></li>
                <li class="each_post_tab_list_item <%= @each_post_view_ranks_tab %>"><h2>閲覧順</h2></li>
                <li class="each_post_tab_list_item <%= @each_post_like_ranks_tab %>"><h2>いいね順</h2></li>
            </ul>
        <% if @posts.present? %>
            <div class="tab_each_post_content <%= @each_post_new_ranks_tab_content %>">
                <ul class="article_index">
                    <% @each_post_new_ranks.each do |each_post_new_rank| %>
                        <% set_meta_tags title: "【#{@comic.name}】漫画考察・ネタバレ・感想を投稿・共有するなら", description: each_post_new_rank.Title + " | " + each_post_new_rank.content %>
                        <li>
                        <section class="article_main post_link neumorphism">
                            <%= link_to "",post_show_path(id: each_post_new_rank.id), class:"article_main_link_cover" %>
                            <%= render 'posts/post', post: each_post_new_rank %>
                        </section>
                        <section class="little_show_comment">
                            <ul>
                            <% post_comments = Post.where(parent_id: each_post_new_rank.id) %>
                            <% post_comments.first(2).each do |post_comment|%>
                                <%= render 'posts/comment_2', post: post_comment %>
                            <% end %>
                            </ul>
                            <% if post_comments.count >= 3 %>
                                <%= link_to "さらにコメントを表示", "/posts/#{each_post_new_rank.id}", class: "comment_more_show"%>
                            <% end %>
                        </section>
                        </li>
                    <% end %>
                </ul> 
            <%= paginate @each_post_new_ranks ,:param_name => 'each_post_new_ranks_page',params: {:each_tab_class =>"each_post_new_ranks"} %>
            </div>
            <div class="tab_each_post_content <%= @each_post_view_ranks_tab_content %>">
                <ul class="article_index">
                    <% @each_post_view_ranks.each do |each_post_view_rank| %>
                        <li>
                        <section class="article_main post_link neumorphism">
                            <%= link_to "",post_show_path(id: each_post_view_rank.id), class:"article_main_link_cover"  %>
                            <%= render 'posts/post', post: each_post_view_rank %>
                        </section>
                        <section class="little_show_comment">
                            <ul>
                            <% post_comments = Post.where(parent_id: each_post_view_rank.id) %>
                            <% post_comments.first(2).each do |post_comment|%>
                                <%= render 'posts/comment_2', post: post_comment %>
                            <% end %>
                            </ul>
                            <% if post_comments.count >= 3 %>
                                <%= link_to "さらにコメントを表示", "/posts/#{each_post_view_rank.id}", class: "comment_more_show"%>
                            <% end %>
                        </section>
                        </li>
                    <% end %>
                </ul> 
                <%= paginate @each_post_view_ranks,:param_name => 'each_post_view_ranks_page', params: {:each_tab_class =>"each_post_view_ranks"}%>
            </div>
            <div class="tab_each_post_content <%= @each_post_like_ranks_tab_content %>">
                <ul class="article_index">
                    <% @each_post_like_ranks.each do |each_post_like_rank| %>
                        <li>
                        <section class="article_main post_link neumorphism">
                            <%= link_to "",post_show_path(id: each_post_like_rank.id), class:"article_main_link_cover"  %>
                            <%= render 'posts/post', post: each_post_like_rank %>
                        </section>
                        <section class="little_show_comment">
                            <ul>
                            <% post_comments = Post.where(parent_id: each_post_like_rank.id) %>
                            <% post_comments.first(2).each do |post_comment|%>
                                <%= render 'posts/comment_2', post: post_comment %>
                            <% end %>
                            </ul>
                            <% if post_comments.count >= 3 %>
                                <%= link_to "さらにコメントを表示", "/posts/#{each_post_like_rank.id}", class: "comment_more_show"%>
                            <% end %>
                        </section>
                        </li>
                    <% end %>
                </ul> 
                <%= paginate @each_post_like_ranks,:param_name => 'each_post_like_ranks_page',params: {:each_tab_class =>"each_post_like_ranks"} %>
            </div>
        <% else %>
            <div class="each_post_not">
                <div class="each_post_nil">
                    <i class="fa-regular fa-pen-to-square"></i>
                    <span>投稿がありません</span>
                    <span>気軽に投稿してみよう！</span>
                    <div class="my_post_nil_new_post_btn">投稿してみる</div>
                </div>
            </div>
        <% end %>
        </div>
    </div> 
</div>
            