<% content_for :css do %>
<%= stylesheet_link_tag 'top' %>
<% end %>
<div class="main-t"> 
      <div class="ichiran">
            <div class="ichiran-title">漫画一覧</div>

            <div class="comics">
                  <div class="comic">
                        <%= link_to("ONE PIECE",comics_each_path(id:1))%>
                  </div>
                  <div class="comic">                   
                        <%= link_to("HUNTER×HUNTER",comics_each_path(id:2))%>
                  </div>
                  <div class="comic">                 
                        <%= link_to("東京卍リベンジャーズ",comics_each_path(id:3))%>
                  </div>
                  <div class="comic">                 
                        <%= link_to("呪術廻戦",comics_each_path(id:4))%>
                  </div>                           
                  <div class="comic">                    
                        <%= link_to("怪獣8号",comics_each_path(id:5))%>
                  </div>
                  <div class="comic">                  
                        <%= link_to("キングダム",comics_each_path(id:6))%>
                  </div>
                  <div class="comic">                  
                        <%= link_to("名探偵コナン",comics_each_path(id:7))%>
                  </div>
                  <div class="comic">                  
                        <%= link_to("僕のヒーローアカデミア",comics_each_path(id:8))%>
                  </div>           
                  <div class="comic">                   
                        <%= link_to("ワンパンマン",comics_each_path(id:9))%>
                  </div>
                  <div class="comic">                         
                        <%= link_to("ワールドトリガー",comics_each_path(id:10))%>
                  </div>   
                  <div class="comic">                 
                        <%= link_to("ブラッククローバー",comics_each_path(id:11))%>
                  </div>      
                  <div class="comic">                               
                        <%= link_to("推しの子",comics_each_path(id:12))%>
                  </div>       
            </div class="comics">
      </div class="ichiran">
      <div class="top-center">
            <div class="top-kind">
                  <div class="search">
                        <li><i class="fas fa-search"></i></li>
                        <form action="http://localhost:3000/home/top" method="get">
                              <li><input type="search" name="search" placeholder="キーワードを入力"></li>
                              <li><input type="submit" name="submit" value="検索"><li>
                        </form>
                  </div class="search">
                  <div  class="popular">
                  <%= link_to("人気","/home/top")%>
                  </div class="popular">
                  <div class="super-new">
                  <%= link_to("最新","/home/top-super-new")%>
                  </div class="super-new">
                  <div class="favorite">
                  <%= link_to("お気に入り","/home/top-favorite")%>
                  </div class="favorite">
                  <div class="my-post">
                  <%= link_to("自分の投稿","/home/top-my-post")%>
                  </div class="my-post">    
            </div class="top-kind">       

            <div class="container">
                  <div class="top">
                        <p>トップ><%= @comic.name %></p>
                  </div>
                  <div class="new">  
                        <%= form_tag("/posts/create/#{@comic.id}") do %>
                              <% @post.errors.full_messages.each do |message| %>
                                    <div class="form-error">
                                          <%= message %>
                                    </div>
                              <% end %>
                              <div class="new-text">
                                    <textarea name="content"><%= @post.content%></textarea> 
                              </div>
                              <div class="new-submit">          
                                    <input type="submit" value="投稿">          
                              </div> 
                        <% end %> 
                  </div>
            </div>
      </div class="top-center">   
</div>