<% set_meta_tags title: "漫画一覧　漫画考察・ネタバレ・感想を投稿・共有するなら"  %>
<% breadcrumb :comics_index %>
<div class="main-t">
    <div class="container">
        <div class="comics_index">
            <h1 class="comics_index_tittle"><i class="fa-solid fa-book"></i>漫画一覧</h1>
            <ul class="popular_manga_ul"> <!--人気漫画上位3作品を表示-->
                <% @comics.each do |comic| %>
                    <li class="popular_manga_li">
                        <div class="popular_manga neumorphism">
                            <%= link_to "",comics_each_path(id: comic.id), class:"popular_manga_post_link_cover" %>
                            <div class="popular_manga_name_icon">
                                <div class="popular_manga_name">
                                    <span><%= comic.name %></span>
                                </div>        
                                <% popular_manga_posts = Post.includes(:user).where(id: @ids,parent_id: nil,Manga_name: comic.name).order([Arel.sql('field(id, ?)'), @ids]) %> 
                                <% if popular_manga_posts.count > 0 %>
                                    <div class="popular_manga_more_post">
                                        <div class="popular_manga_post_more_under_icon">
                                            <i class="fa-solid fa-sort-down"></i>
                                        </div>
                                        <div class="">投稿をチラ見</div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                        <div class="popular_manga_posts">
                            <ul class="popular_manga_post_ul">
                                <li>
                                    <% popular_manga_posts.slice(0..2).each do |popular_manga_post|%>
                                        <section class="article_main  post_link popular_manga_post neumorphism">
                                        <%= link_to "",post_show_path(id: popular_manga_post.id), class:"article_main_link_cover"  %>
                                        <%= render 'posts/post', post: popular_manga_post %>
                                        </section>
                                    <% end %> 
                                </li>
                            </ul>
                            <%= link_to "もっと見る", comics_each_path(id: comic.id), class: "comment_more_show"%>
                        </div>
                    </li>
                <% end %>
            </ul>
            <%= paginate @comics %>
        </div>
    </div>
</div>