<div class="main-t">
  <div class="container">
  <h1 class="top_tittle"><i class="fa-solid fa-house"></i>ホーム</h1>
    <article class="popular_mangas">
      <h2>
        <i class="fa-solid fa-crown"></i>
        <span>おすすめ漫画</span>
      </h2>
      <ul class="popular_manga_ul"> <!--人気漫画上位3作品を表示-->
        <% @comics.slice(0..2).each.with_index(1) do |comic, i| %>
          <li class="popular_manga_li">
            <div class="ranking_label popular_comic_ranking"><%= i %></div>
            <div class="popular_manga neumorphism">
              <%= link_to "",comics_each_path(id: comic.id, ranking:"comics_popular_ranking", num: i), class:"popular_manga_post_link_cover" %>
              <div class="popular_manga_name_icon">
                <div class="popular_manga_name">
                  <span><%= comic.name %></span>
                </div>
                <% popular_manga_posts = Post.includes(:user).where(id: @ids,parent_id: nil,Manga_name: comic.name).order([Arel.sql('field(id, ?)'), @ids]) %>
                <% if popular_manga_posts.count > 0 %>
                  <div class="popular_manga_more_post">
                    <div class="popular_manga_post_more_under_icon">
                      <i class="fa-solid fa-sort-down"></i>
                    </div>
                    <div class="">投稿をチラ見</div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="popular_manga_posts">
              <ul class="popular_manga_post_ul">
                <li>
                  <% popular_manga_posts.slice(0..2).each do |popular_manga_post|%>
                    <section class="article_main  post_link popular_manga_post neumorphism">
                      <%= link_to "",post_show_path(id: popular_manga_post.id), class:"article_main_link_cover"  %>
                      <%= render 'posts/post', post: popular_manga_post %>
                    </section>
                  <% end %> 
                </li>
              </ul>
              <% if popular_manga_posts.count >= 4 %>
                <%= link_to "もっと見る", comics_each_path(id: comic.id, ranking:"comics_popular_ranking", num: i), class: "comment_more_show"%>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
      <% if @comics.count >= 4 %>
        <div class="popular_manga_more_show_icon"><i class="fa-solid fa-angle-down"></i></div>
        <section class="popular_manga_under_rank">
          <ul class="popular_manga_ul">   <!--人気漫画上位4～10作品目を表示-->
            <% @comics.slice(3..9).each.with_index(4) do |comic , i| %>
              <li class="popular_manga_li">
                <div class="ranking_label popular_comic_ranking"><%= i %></div>
                <div class="popular_manga neumorphism">
                  <%= link_to "",comics_each_path(id: comic.id, ranking:"comics_popular_ranking", num: i), class:"popular_manga_post_link_cover" %>
                  <div class="popular_manga_name_icon">
                    <div class="popular_manga_name">
                      <span><%= comic.name %></span>
                    </div>       
                    <% popular_manga_posts = Post.includes(:user).where(id: @ids,parent_id: nil,Manga_name: comic.name).order([Arel.sql('field(id, ?)'), @ids]) %> 
                    <% if popular_manga_posts.count > 0 %>
                      <div class="popular_manga_more_post">
                        <div class="popular_manga_post_more_under_icon">
                          <i class="fa-solid fa-sort-down"></i>
                        </div>
                        <div class="">投稿をチラ見</div>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class="popular_manga_posts">
                  <ul class="popular_manga_post_ul">
                    <li>
                      <% popular_manga_posts.slice(0..2).each do |popular_manga_post|%>
                        <section class="article_main  post_link popular_manga_post neumorphism">
                          <%= link_to "",post_show_path(id: popular_manga_post.id), class:"article_main_link_cover"  %>
                          <%= render 'posts/post', post: popular_manga_post %>
                        </section>
                      <% end %> 
                    </li>
                  </ul>
                  <%= link_to "もっと見る", comics_each_path(id: comic.id, ranking:"comics_popular_ranking", num: i), class: "comment_more_show"%>
                </div>
              </li>
            <% end %>
          </ul>
          <% if @comics.count >= 11 %>
            <%= link_to "おすすめランキングの続きを表示","/popular_comic_ranking", class:"popular_manga_list_show" %>
          <% end %>
        </section>
      <% end %>
    </article>
    <article class="hot_articles">
      <h2>
        <i class="fa-solid fa-fire-flame-curved aside_menu_icon"></i>
        <span>急上昇</span>
      </h2>
      <ul> <!--急上昇投稿上位3つを表示-->
        <% if @hot_posts.count>=0  %>
          <% @hot_posts.slice(0..2).each.with_index(1) do |hot_post, i| %>
            <li class="hot_article_li">
              <div class="ranking_label hot_ranking"><%= i %></div>
              <section class="article_main post_link neumorphism">
              <%= link_to "",post_show_path(id: hot_post.id, ranking: "hot_ranking", num: i), class:"article_main_link_cover"  %>  
                <%= render 'posts/post', post: hot_post %>
              </section>
              <section class="little_show_comment">
                <ul>
                  <% hot_post_comments = Post.where(parent_id: hot_post.id) %>   <!--コメントを2つ表示-->
                  <% hot_post_comments.slice(0..1).each do |hot_post_comment|%>  
                    <%= render 'posts/comment_2', post: hot_post_comment %> 
                  <% end %>
                </ul>
                <% if hot_post_comments.count >= 3 %>
                  <%= link_to "さらにコメントを表示", "/posts/#{hot_post.id}", class: "comment_more_show"%>
                <% end %>
              </section>
            </li>
          <% end %>
        <% end %>
      </ul>
      <% if @hot_posts.count >= 4 %>
      <div class="more_show_btn hot_article_comment_more_show_btn"><i class="fa-solid fa-angle-down"></i></div>
      <section class="hot_article_comment_more_show">
        <ul> <!--急上昇投稿上位4～10番目を表示-->
          <% @hot_posts.slice(3..9).each.with_index(4) do |hot_post, i| %>
            <li class="hot_article_li">
              <div class="ranking_label hot_ranking"><%= i %></div>
              <section class="article_main  post_link neumorphism">
                <%= link_to "",post_show_path(id: hot_post.id, ranking: "hot_ranking", num: i), class:"article_main_link_cover"  %>  
                <%= render 'posts/post', post: hot_post %>
              </section>
              <section class="little_show_comment">
                <ul>
                  <% hot_post_comments = Post.where(parent_id: hot_post.id) %>
                  <% hot_post_comments.slice(0..1).each do |hot_post_comment|%>
                    <%= render 'posts/comment_2', post: hot_post_comment %>            
                  <% end %>
                </ul>
                <% if hot_post_comments.count >= 3 %>
                <%= link_to "さらにコメントを表示", "/posts/#{hot_post.id}", class: "comment_more_show"%>
                <% end %>
              </section>
            </li>
          <% end %>
        </ul>
        <% if @hot_posts.count >= 11 %>
          <%= link_to "急上昇ランキングの続きを表示","/hot_ranking", class:"hot_article_more_rank" %>
        <% end %>
      </section>
      <% end %>
    </article>
    <article class="popular_articles popular_articles_pc">
      <h2>
        <i class="fa-solid fa-crown"></i>
        <span>おすすめ投稿</span>
      </h2>
      <ul class="tab">
        <li class="tab_list_item here_tab"><h4>昨日</h4></li>
        <li class="tab_list_item"><h4>週間</h4></li>
        <li class="tab_list_item"><h4>月間</h4></li>
      </ul>
      <div class="popular_article_content">
        <ul class="tab_content yesterday_tab_content here_content"> 
          <% @yesterday_post_like_ranks.slice(0..2).each.with_index(1) do |yesterday_post_like_rank,i| %> <!--昨日投稿の上位3つを表示-->
            <li class="tab_top_popular_item">
              <section class="article_main post_link popular_article neumorphism">
                <div class="ranking_label popular_ranking"><%= i%></div>  
                <%= link_to "",post_show_path(id: yesterday_post_like_rank.id, ranking: "popular_ranking",for: "yesterday", num: i), class:"article_main_link_cover"  %>  
                <%= render 'posts/post', post: yesterday_post_like_rank %>
              </section>
              <section class="little_show_comment">
                <ul>
                  <% yesterday_post_like_ranks_comments = Post.where(parent_id: yesterday_post_like_rank.id) %>
                  <% yesterday_post_like_ranks_comments.slice(0..1).each do |yesterday_post_like_ranks_comment|%>
                    <%= render 'posts/comment_2', post: yesterday_post_like_ranks_comment %>            
                  <% end %>
                </ul>
                <% if yesterday_post_like_ranks_comments.count >= 3 %>
                  <%= link_to "さらにコメントを表示", "/posts/#{yesterday_post_like_rank.id}", class: "comment_more_show"%>
                <% end %>
              </section>
            </li>
          <% end %>
          <% if @yesterday_post_like_ranks.count >= 4 %>
            <div class="more_show_btn yesterday_popular_article_more_show_btn"><i class="fa-solid fa-angle-down"></i></div>
            <section class="yesterday_popular_article_more_show">
              <% @yesterday_post_like_ranks.slice(3..9).each.with_index(4) do |yesterday_post_like_rank,i| %> <!--昨日投稿の上位3つを表示-->
                <li>
                  <section class="article_main post_link popular_article neumorphism">
                    <div class="ranking_label popular_ranking"><%= i %></div> 
                    <%= link_to "",post_show_path(id: yesterday_post_like_rank.id, ranking: "popular_ranking",for: "yesterday", num: i), class:"article_main_link_cover"  %>   
                    <%= render 'posts/post', post: yesterday_post_like_rank %>
                  </section>
                  <section class="little_show_comment">
                    <ul>
                      <% yesterday_post_like_ranks_comments = Post.where(parent_id: yesterday_post_like_rank.id) %>
                      <% yesterday_post_like_ranks_comments.slice(0..1).each do |yesterday_post_like_ranks_comment|%>
                        <%= render 'posts/comment_2', post: yesterday_post_like_ranks_comment %>            
                      <% end %>
                    </ul>
                    <% if yesterday_post_like_ranks_comments.count >= 3 %>
                      <%= link_to "さらにコメントを表示", "/posts/#{yesterday_post_like_rank.id}", class: "comment_more_show"%>
                    <% end %>
                  </section>
                </li>
              <% end %>
              <% if @yesterday_post_like_ranks.count >= 11 %>
                <%= link_to "ランキングの続きを表示",popular_post_ranking_path(tab_id: 1), class:"popular_article_more_rank" %> 
              <% end %>
            </section>
          <% end %>
        </ul>
        <ul class="tab_content week_tab_content"> 
          <% @week_post_like_ranks.slice(0..2).each.with_index(1) do |week_post_like_rank,i| %> <!--週間投稿の上位3つを表示-->
            <li class="tab_top_popular_item">
              <section class="article_main post_link popular_article neumorphism">
                <div class="ranking_label popular_ranking"><%= i %></div>
                <%= link_to "",post_show_path(id: week_post_like_rank.id, ranking: "popular_ranking",for: "week", num: i), class:"article_main_link_cover"  %>   
                <%= render 'posts/post', post: week_post_like_rank %>
              </section>
              <section class="little_show_comment">
                <ul>
                  <% week_post_like_rank_comments = Post.where(parent_id: week_post_like_rank.id) %>
                  <% week_post_like_rank_comments.slice(0..1).each do |week_post_like_rank_comment|%>
                    <%= render 'posts/comment_2', post: week_post_like_rank_comment %>            
                  <% end %>
                </ul>
                <% if week_post_like_rank_comments.count >= 3 %>
                  <%= link_to "さらにコメントを表示", "/posts/#{week_post_like_rank.id}", class: "comment_more_show"%>
                <% end %>
              </section>
            </li>
          <% end %>
          <% if @week_post_like_ranks.count >= 4 %>
            <div class="more_show_btn week_popular_article_more_show_btn"><i class="fa-solid fa-angle-down"></i></div>
            <section class="week_popular_article_more_show">
              <% @week_post_like_ranks.slice(3..9).each.with_index(4) do |week_post_like_rank,i| %> <!--週間投稿の上位3つを表示-->
                <li>
                  <section class="article_main post_link popular_article neumorphism">
                    <div class="ranking_label popular_ranking"><%= i  %></div>
                    <%= link_to "",post_show_path(id: week_post_like_rank.id, ranking: "popular_ranking",for: "week", num: i), class:"article_main_link_cover"  %>   
                    <%= render 'posts/post', post: week_post_like_rank %>
                  </section>
                  <section class="little_show_comment">
                    <ul>
                      <% week_post_like_rank_comments = Post.where(parent_id: week_post_like_rank.id) %>
                      <% week_post_like_rank_comments.slice(0..1).each do |week_post_like_rank_comment| %>
                        <%= render 'posts/comment_2', post: week_post_like_rank_comment %>            
                      <% end %>
                    </ul>
                    <% if week_post_like_rank_comments.count >= 3 %>
                      <%= link_to "さらにコメントを表示", "/posts/#{week_post_like_rank.id}", class: "comment_more_show"%>
                    <% end %>
                  </section>
                </li>
              <% end %>
              <% if @week_post_like_ranks.count >= 11 %>
                <%= link_to "ランキングの続きを表示", popular_post_ranking_path(tab_id: 2) , class:"popular_article_more_rank" %>
              <% end %>
            </section>
          <% end %>
        </ul>
        <ul class="tab_content month_tab_content"> 
          <% @month_post_like_ranks.slice(0..2).each.with_index(1) do |month_post_like_rank, i| %> <!--月間投稿の上位3つを表示-->
            <li class="tab_top_popular_item">
              <section class="article_main post_link popular_article neumorphism">
                <div class="ranking_label popular_ranking"><%= i %></div>
                <%= link_to "",post_show_path(id: month_post_like_rank.id, ranking: "popular_ranking",for: "month", num: i), class:"article_main_link_cover"  %>   
                <%= render 'posts/post', post: month_post_like_rank %>
              </section>
              <section class="little_show_comment">
                <ul>
                  <% month_post_like_rank_comments = Post.where(parent_id: month_post_like_rank.id) %>
                  <% month_post_like_rank_comments.slice(0..1).each do |month_post_like_rank_comment| %>
                    <%= render 'posts/comment_2', post: month_post_like_rank_comment %>            
                  <% end %>
                </ul>
                <% if month_post_like_rank_comments.count >= 3 %>
                  <%= link_to "さらにコメントを表示", "/posts/#{month_post_like_rank.id}", class: "comment_more_show"%>
                <% end %>
              </section>
            </li>
          <% end %>
          <% if @month_post_like_ranks.count >= 4 %>
            <div class="more_show_btn month_popular_article_more_show_btn"><i class="fa-solid fa-angle-down"></i></div>
            <section class="month_popular_article_more_show">
              <% @month_post_like_ranks.slice(3..9).each.with_index(4) do |month_post_like_rank,i| %> <!--週間投稿の上位3つを表示-->
                <li>
                  <section class="article_main  post_link popular_article neumorphism">
                    <div class="ranking_label popular_ranking"><%= i %></div>
                    <%= link_to "",post_show_path(id: month_post_like_rank.id, ranking: "popular_ranking",for: "month", num: i), class:"article_main_link_cover"  %>   
                    <%= render 'posts/post', post: month_post_like_rank %>
                  </section>
                  <section class="little_show_comment">
                    <ul>
                      <% month_post_like_rank_comments = Post.where(parent_id: month_post_like_rank.id) %>
                      <% month_post_like_rank_comments.slice(0..1).each do |month_post_like_rank_comment|%>
                        <%= render 'posts/comment_2', post: month_post_like_rank_comment %>            
                      <% end %>
                    </ul>
                    <% if month_post_like_rank_comments.count >= 3 %>
                      <%= link_to "さらにコメントを表示", "/posts/#{month_post_like_rank.id}", class: "comment_more_show"%>
                    <% end %>
                  </section>
                </li>
              <% end %>
              <% if @month_post_like_ranks.count >= 11 %>
                <%= link_to "ランキングの続きを表示",popular_post_ranking_path(tab_id: 3) , class:"popular_article_more_rank" %>
              <% end %>
            </section>
          <% end %>
        </ul>
      </div>
    </article>
  </div>
</div>