<% set_meta_tags title: "投稿一覧　漫画考察・ネタバレ・感想を投稿・共有するなら"  %>
<% breadcrumb :top_super_new %>
<div class="main-t"> 
  <div class="container">
    <h1 class="top_super_new_tittle"><i class="fa-solid fa-book-open"></i>投稿一覧</h1>
    <ul class="post_index_tab">
      <li class="post_index_tab_list_item <%= @new_ranks_tab %>"><h4>新着順</h4></li>
      <li class="post_index_tab_list_item <%= @view_ranks_tab %>"><h4>閲覧順</h4></li>
      <li class="post_index_tab_list_item <%= @all_like_ranks_tab %>"><h4>いいね順</h4></li>
    </ul>
    <div class="tab_post_index_content <%= @new_ranks_tab_content %>">
      <ul class="article_index">
        <% @new_ranks.each do |new_rank| %>
          <li>
            <section class="article_main post_link neumorphism">
              <%= link_to "",post_show_path(id: new_rank.id), class:"article_main_link_cover"  %>
              <%= render 'posts/post', post: new_rank %>
            </section>
            <section class="little_show_comment">
              <ul>
              <% post_comments = Post.where(parent_id: new_rank.id) %>
              <% post_comments.first(2).each do |post_comment|%>
                <%= render 'posts/comment_2', post: post_comment %>
              <% end %>
              </ul>
              <% if post_comments.count >= 3 %>
                <%= link_to "さらにコメントを表示", "/posts/#{new_rank.id}", class: "comment_more_show"%>
              <% end %>
            </section>
          </li>
        <% end %>
      </ul>
      <%= paginate @new_ranks,:param_name => 'new_ranks_page',params: {:tab_class =>"new_ranks"}%>
    </div>
    <div class="tab_post_index_content <%= @view_ranks_tab_content %>">
      <ul class="article_index">
        <% @view_ranks.each do |view_rank| %>
          <li>
            <section class="article_main post_link neumorphism">
              <%= link_to "",post_show_path(id: view_rank.id), class:"article_main_link_cover"  %>
              <%= render 'posts/post', post: view_rank %>
            </section>
            <section class="little_show_comment">
              <ul>
              <% post_comments = Post.where(parent_id: view_rank.id) %>
              <% post_comments.first(2).each do |post_comment|%>
                <%= render 'posts/comment_2', post: post_comment %>
              <% end %>
              </ul>
              <% if post_comments.count >= 3 %>
                <%= link_to "さらにコメントを表示", "/posts/#{view_rank.id}", class: "comment_more_show"%>
              <% end %>
            </section>
          </li>
        <% end %>
      </ul>
      <%= paginate @view_ranks,:param_name => 'view_ranks_page',params: {:tab_class =>"view_ranks"}%>
    </div>
    <div class="tab_post_index_content <%= @all_like_ranks_tab_content %>">
      <ul class="article_index">
        <% @all_like_ranks.each do |all_like_rank| %>
          <li>
            <section class="article_main post_link neumorphism">
              <%= link_to "",post_show_path(id: all_like_rank.id), class:"article_main_link_cover"  %>
              <%= render 'posts/post', post: all_like_rank %>
            </section>
            <section class="little_show_comment">
              <ul>
              <% post_comments = Post.where(parent_id: all_like_rank.id) %>
              <% post_comments.first(2).each do |post_comment|%>
                <%= render 'posts/comment_2', post: post_comment %>
              <% end %>
              </ul>
              <% if post_comments.count >= 3 %>
                <%= link_to "さらにコメントを表示", "/posts/#{all_like_rank.id}", class: "comment_more_show"%>
              <% end %>
            </section>
          </li>
        <% end %>
      </ul>
      <%= paginate @all_like_ranks ,:param_name => 'all_like_ranks_page', params: {:tab_class =>"all_like_ranks"} %> 
    </div>
  </div>              
</div class="main-t">   


