<% content_for :css do %>
<%= stylesheet_link_tag 'posts' %>
<% end %><div class="main-t"> 
    <div class="ichiran">
            <div class="ichiran-title">漫画一覧</div>
            <div class="comics">
                <div class="comic">
                    <%= link_to("ONE PIECE",comics_each_path(id:1))%>
                </div>
                <div class="comic">                   
                    <%= link_to("HUNTER×HUNTER",comics_each_path(id:2))%>
                </div>
                <div class="comic">                 
                    <%= link_to("東京卍リベンジャーズ",comics_each_path(id:3))%>
                </div>
                <div class="comic">                 
                    <%= link_to("呪術廻戦",comics_each_path(id:4))%>
                </div>                           
                <div class="comic">                    
                    <%= link_to("怪獣8号",comics_each_path(id:5))%>
                </div>
                <div class="comic">                  
                    <%= link_to("キングダム",comics_each_path(id:6))%>
                </div>
                <div class="comic">                  
                    <%= link_to("名探偵コナン",comics_each_path(id:7))%>
                </div>
                <div class="comic">                  
                    <%= link_to("僕のヒーローアカデミア",comics_each_path(id:8))%>
                </div>           
                <div class="comic">                   
                    <%= link_to("ワンパンマン",comics_each_path(id:9))%>
                </div>
                <div class="comic">                         
                    <%= link_to("ワールドトリガー",comics_each_path(id:10))%>
                </div>   
                <div class="comic">                 
                    <%= link_to("ブラッククローバー",comics_each_path(id:11))%>
                </div>      
                <div class="comic">                               
                    <%= link_to("推しの子",comics_each_path(id:12))%>
            </div>       
        </div class="comics">
        </div class="ichiran">
    <div class="top-center">
        <div class="top-kind">
            <div class="search">
                <li><i class="fas fa-search"></i></li>
                <%= search_form_for @q , url: home_search_path do |f| %>
                    <%= f.label :Manga_name_cont, '漫画名' %>
                    <%= f.search_field :Manga_name_cont %>
                    <br>
                    <%= f.submit '検索' %>
                <% end %>
            </div class="search">
            <div class="popular">
                <%= link_to("人気","/home/top")%>
            </div class="popular">
            <div class="super-new">
                <%= link_to("最新","/home/top_super_new")%>
            </div class="super-new">
            <div class="favorite">
                <%= link_to("お気に入り","/users/:id/top_favorite")%>
            </div class="favorite">
            <div class="my-post">
                <%= link_to("自分の投稿","/home/top_my_post")%>
            </div class="my-post">    
        </div class="top-kind">       

        <div class="container">
            <div class="posts-show-item">
            <p>
            <%= @post.content %>
            </p>          
            <div class="post-menus">
            <%= link_to("編集", "/posts/#{@post.id}/edit") %>
            <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
            <%= link_to("コメントする", "/posts/#{@post.id}/comment")%> 
            <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
            <%= link_to("普通のボタン","/likes/#{@post.id}/destroy",{method: "post"}) %>
            <% else %>
            <%= link_to("お気に入りボタン","/likes/#{@post.id}/create",{method: "post"}) %>
            <% end %>

            <%= @likes_count%> 
            </div>

            <% @posts.each do |post| %>
            <div class="post">
                <%= link_to(post.content,"/posts/#{post.id}" ) %>
            </div>
            <% end %>         
        　 </div>
        </div>  
    </div class="top-center">                       
</div>